<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="3px">
        <tr>
            <th>pk value</th>
            <th>topic_name</th>
            <th>name</th>
            <th>url</th>

        </tr>
        {% for wo in webpages %}
              <tr>
                <td>{{wo.pk}}</td>
                <td>{{wo.topic_name}}</td>
                <td>{{wo.url}}</td>
              </tr>


    </table>
</body>
</html>