<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        {% csrf_token %}
        <label for="tn">topic_name</label>
        <select name="tn" id="tn">
            {% for to in topics %}
                <option value="{{to.topic_name}}">{{to.topic_name}}<option>
            {% endfor %}
        </select>
        <br><br>
        <label for="tn">topic_name</label>
        <input type="text" topic_name="tn" id="tn"> <br><br>
        <label for="na">name</label>
        <input type="text" name="na"> <br><br> 
        <label for="ur">URL</label> 
        <input type="url" name="ur" id="ur">
        <br><br>
        <input type="submit" value="insert_webpage">




    </form>
</body>
</html>